@use '../../../../styles/_variables' as *;

.hero {
  position: relative;
  padding: 48px 0;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff 0%, #f5f8fb 100%);
}

.heroContainer {
  position: relative;
  z-index: 2;
  grid-template-columns:1fr
}


@media (min-width: $breakpoint-lg) {
  .heroContainer {
    grid-template-columns: 1fr 420px;
  }
}

@media (min-width: $breakpoint-md) {
  .hero {
    padding: 72px 0 64px;
  }
}