$breakpoint-sm: 480px;
$breakpoint-md: 768px; //breakpoint from mobile -> tablet
$breakpoint-lg: 1024px; //breakpoint from tablet -> desktop
$breakpoint-xl: 1280px; //breakpoint standard desktop
$breakpoint-xxl: 1440px;

:root {

  --bg: #f9f9fb;
  --surface: #ffffff;
  --muted: #59595d;
  --text: #22252a;
  --accent: #0078D4;
  --accent-2: #00a6ff;
  --color-linkedin: #0A66C2;
  --color-email: #555;
  --color-github: #24292e;

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  --radius-3xl: 32px;


  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 20px;
  --space-lg: 36px;

  --font-size-xsm: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xlg: 1.25rem;

  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;

  --container-max-width: 1200px;
  --container-min-width: 360px;

  --card-min-width: 320px;
  --page-min-width: 360px;

  --image-max-width: 800px;

  --transition: 220ms cubic-bezier(.2, .9, .3, 1);

  --gradient-accent-135: linear-gradient(135deg, var(--accent), var(--accent-2));
  --gradient-accent-90: linear-gradient(90deg, var(--accent), var(--accent-2));

  --shadow-logo: 0 6px 16px rgba(0, 120, 212, 0.12);
  --shadow-soft: 0 6px 18px rgba(16, 24, 40, 0.06);
  --shadow-hover: 0 12px 30px rgba(0, 120, 212, 0.08);

}

