@use "../../styles/variables" as *;

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid rgba(16, 24, 40, 0.04);
  background: linear-gradient(135deg, #fff, #f7fbff);
  box-shadow: 0 8px 30px rgba(16, 24, 40, 0.03);
  display: grid;
  place-items: center;
  font-weight: var(--font-weight-bolder);
  color: var(--accent)
}

.cardTitle {
  font-size: var(--font-size-md); // 14px
  font-weight: var(--font-weight-bolder);
  color: var(--text);
}

.cardSubtitle {
  font-size: var(--font-size-xs); // 12px
  color: var(--muted);
}


@media (min-width: $breakpoint-md) {
  .avatar {
    width: 124px;
    height: 124px;
  }
}