@use '../../../../styles/_variables' as *;

.menu {
    transition: transform .3s ease, opacity .3s ease;
}

.navLink {
    color: var(--text);
    border-radius: var(--radius-md);
    font-weight: var(--font-weight-bold);
    transition: var(--transition);

    &:hover,
    &:focus {
        color: var(--accent);
        background: rgba(0, 120, 212, 0.06);
        outline: none;
    }
}

.burger {
    display: block;
    width: 40px;
    height: 40px;

    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    span {
        position: absolute;
        left: 50%;
        width: 24px;
        height: 3px;
        background: var(--text);
        border-radius: 3px;
        transition: transform .3s ease, opacity .3s ease;
        transform: translateX(-50%);
    }

    span:nth-child(1) {
        top: 12px;
    }

    span:nth-child(2) {
        top: 18.5px;
    }

    span:nth-child(3) {
        top: 25px;
    }
}

.burger.open {
    span:nth-child(1) {
        transform: translate(-50%, 6.5px) rotate(45deg);
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:nth-child(3) {
        transform: translate(-50%, -6.5px) rotate(-45deg);
    }
}

.menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--bg);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.12);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
}

.menuOpen {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

@media (min-width: $breakpoint-md) {

    .burger {
        display: none;
    }

    .menu {
        position: static;
        transform: none;
        opacity: 1;
        pointer-events: auto;
        box-shadow: none;
        background: none;
        padding: 0;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }
}
