.section {
  padding: var(--space-lg) 0
}

.sectionTitle {
  text-align: center;
  margin: 0 0 var(--space-md);
  color: var(--text);
  font-size: var(--font-size-xlg);
  font-weight: var(--font-weight-bolder);
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 54px;
    height: 4px;
    border-radius: var(--radius-sm);
    margin: 12px auto 0;
    background: var(--gradient-accent-90);
    opacity: 0.95;
  }
}