@layer utilities {
  .page-container {
    width: 100%;
    max-width: var(--container-max-width);
    min-width: var(--container-min-width);
    margin: 0 auto;
    padding: 0.625rem 1.25rem;
  }

  @media (min-width: var(--breakpoint-md)) {
    .page-container {
      padding: 1.25rem;
    }
  }
}