@layer utilities {
  //block
  .block {
    display: block;
  }

  //grid
  .grid {
    display: grid;
  }

  .place-center {
    place-items: center;
  }

  //flex
  .flex {
    display: flex;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-wrap{
    display: flex;
    flex-wrap: wrap;
  }

  .flex-wrap-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .items-center {
    align-items: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .row-between-2 {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .row-center {
    display: flex;
    justify-content: center;;
  }
}