@layer utilities {
  //padding
  .p-4 {
    padding: var(--spacing-4);
  }

  .p-5 {
    padding: var(--spacing-5);
  }

  //padding Y
  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py-1 {
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
  }

  .py-2 {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
  }

  .py-3 {
    padding-top: var(--spacing-3);
    padding-bottom: var(--spacing-3);
  }

  .py-4 {
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-4);
  }

  .py-5 {
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-5);
  }

  .py-8 {
    padding-top: var(--spacing-8);
    padding-bottom: var(--spacing-8);
  }

  //padding X
  .px-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px-1 {
    padding-left: var(--spacing-1);
    padding-right: var(--spacing-1);
  }

  .px-2 {
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
  }

  .px-3 {
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
  }

  .px-4 {
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
  }

  .px-5 {
    padding-left: var(--spacing-5);
    padding-right: var(--spacing-5);
  }

  //margin
  .m-0 {
    margin: 0 !important;
  }

  .mt-2 {
    margin-top: var(--spacing-2);
  }

  .mt-3 {
    margin-top: var(--spacing-3);
  }

  .mt-4 {
    margin-top: var(--spacing-4);
  }

  .mt-5 {
    margin-top: var(--spacing-5);
  }

  .mt-6 {
    margin-top: var(--spacing-6);
  }

  .mb-3 {
    margin-bottom: var(--spacing-3);
  }

  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  //gaps
  .gap-1 {
    gap: var(--spacing-1);
  }

  .gap-2 {
    gap: var(--spacing-2);
  }

  .gap-3 {
    gap: var(--spacing-3);
  }

  .gap-4 {
    gap: var(--spacing-4);
  }

  .gap-5 {
    gap: var(--spacing-5);
  }

  .gap-6 {
    gap: var(--spacing-6);
  }

  .gap-8 {
    gap: var(--spacing-8);
  }

  .gap-9 {
    gap: var(--spacing-9);
  }
}