name: Docker Build and Push

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Login do Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      # 3️⃣ Build frontend image
      - name: Build Frontend Docker Image
        run: |
          docker build -t ${{ env.DOCKERHUB_USERNAME }}/frontend:latest ./frontend

      # 4️⃣ Build backend image
      - name: Build Backend Docker Image
        run: |
          docker build -t ${{ env.DOCKERHUB_USERNAME }}/backend:latest ./backend

      # 5️⃣ Push frontend image
      - name: Push Frontend Docker Image
        run: |
          docker push ${{ env.DOCKERHUB_USERNAME }}/frontend:latest

      # 6️⃣ Push backend image
      - name: Push Backend Docker Image
        run: |
          docker push ${{ env.DOCKERHUB_USERNAME }}/backend:latest
